<div id="item-new">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 content">
          <h2 class="title">New item</h2>
          <%= simple_form_for @item do |f| %>
            <%= f.input :title %>
            <%= f.input :code %>
            <%= f.input :description %>
            <%= f.input :quantity %>
            <%= f.input :safetystock %>
            <%= f.input :reorderlevel %>
            <%= f.input :leadtime %>
            <%= f.button :submit, class: "btn btn-default submit" %>
          <% end %>

          <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-arrow-left") + "Back", root_path %>
      </div>
    </div>
  </div>
</div>